
.redCases{
    background-color: $tomato;
    padding:7%;
    color: $white;
    margin-bottom: $margin-bottom;
}

.casesHeading{
    padding-bottom: 2%;
    color: $white;
}

.project-heading{
    padding: 5% 0;
}

.redCases p{
    border-left: 5px solid $white;
    padding-left: 5%;
}