@import "_variables";
@import "_homepage";
@import"_archive";
@import"_singles";

* {
    box-sizing: border-box;
}

/* General Styling */
body{
    background-color: $white;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3em;
}


h1{
    font-family: 'Public Sans', sans-serif;
    font-weight:bolder;
    font-size: 3em;
    margin-bottom: 3%;
}

.container{
    margin:10%;
}


header{
    margin-bottom: 10%;
}


a{
	text-decoration: none;
}

/* Footer Styling */


.footer-socials{
	display: flex;
	align-items: center;
	justify-content: center;
}

 div.container-fluid.footer-menu ul li {
	list-style-type: none;
	
	margin: 2% 0;
 }

.footer-menu ul li a{
	color: #000;
	
	
 }

 .footer-menu ul li.red a{
	color: #F9423A;
	font-weight: bold;
	
 }

 .footer-menu ul li.red{
	margin-bottom: 7%;
 }

 .footer-legal ul {
	display: flex;
 }
 .footer-legal ul li{
	list-style-type: none;
	
 }

 .footer-legal ul li a{
	color: #000;
 }

 .footer-legal ul li.mid-legal{
	margin: 0 5%;
 }


