.single-text{
    border-left: 5px solid $tomato;
    padding: 3%;
}

.hero-text{
    padding-top: 3%;
}


///////////////////Content and image styling//////////////////////// 
.red{
    color: $tomato;
}

.project{
    margin: 5% 0;
}

.single-project{
    margin-bottom: 10%;
}

.single-content{
    padding: 5% 0;
    
}